---
# GitHub Workflow doc:
# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions

name: Python package

on:
  push:
    branches:
      - "**"
  schedule:
    - cron: 0 5 * * *

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Lint code
        # cspell:ignore oxsecurity
        uses: oxsecurity/megalinter@v9.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}

  build:
    name: Build & Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"] # fails on "3.14"

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Test with pytest
        run: |
          pytest
      - name: Upload generated XML artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-out-${{ matrix.python-version }}
          path: test/out
          if-no-files-found: ignore
