---
# GitHub Workflow doc:
# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions

name: Build

on:
  push:
    branches:
      - "**"
  schedule:
    - cron: 0 5 * * *

permissions: {}

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0
      - name: Lint code
        # cspell:ignore oxsecurity
        uses: oxsecurity/megalinter@v9.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
